@()

<nav class="navbar navbar-inverse " id="navigation">

    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="@routes.Application.index()">

                Product Catalog</a>

        </div>

        <div>

            <ul class="nav navbar-nav">

                <li><a href="@routes.Application.index()">Home</a></li>

                <li><a href="@routes.Products.list()">Products</a></li>

                <li><a href="">Contact</a></li>

            </ul>

        </div>

    </div>

</nav>